/* html, body 
{
    margin: 0;
    height: 100%;
    font-size:30px;
} */

body
{
	font-size:30px;
	margin-top:30px;
	color:white;
	background: url('../images/background.png');
	background-size: 100vw;
}

h1
{
	font-size: 50px;
}

h2
{
	font-size:3vw;
}

.row1
{

}

.row2
{
	margin:0 auto;
	background-color: red;
	background: rgba(0, 0, 0, .75);
	/* opacity:.5; */
}

.fighterDiv
{
	/* border:1px solid green; */
	width:200px;
	margin:0 auto;
	background-color: purple;
}

img
{
	border:4px solid black;
}